In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_excel("dataGYM.xlsx")
data.head()

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...

In [3]:
df = data.copy()

In [4]:
del df['BMI']
del df['Class']

In [5]:
df.head()

   Age  Height  weight                                         Prediction
0   48     4.1      86  Extremely obese--normal exercise+yoga+heavy di...
1   53     4.1      91  Extremely obese--normal exercise+yoga+heavy di...
2   42     4.1      95  Extremely obese--normal exercise+yoga+heavy di...
3   48     4.1     100  Extremely obese--normal exercise+yoga+heavy di...
4   22     4.1     104  Extremely obese--normal exercise+yoga+heavy di...

In [6]:
label_encoder = LabelEncoder()
df['Prediction'] = label_encoder.fit_transform(df['Prediction'])

In [7]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

model_GYM = RandomForestClassifier(n_estimators=20)

model_GYM.fit(X_train, y_train)

print(model_GYM)

RandomForestClassifier(n_estimators=20)

In [9]:
# make predictions
expected = y_test
predicted = model_GYM.predict(X_test)
# summarize the fit of the model
#Correction
metrics.classification_report(expected, predicted)
metrics.confusion_matrix(expected, predicted)

array([[35,  0,  1,  0,  0],
       [ 0, 38,  0,  6,  5],
       [ 6,  0, 44,  3,  0],
       [ 0,  9,  5, 32,  0],
       [ 0,  6,  0,  0, 46]], dtype=int64)

In [10]:
import pickle

In [11]:
pickle.dump(model_GYM, open("Model_GYM.pkl", "wb"))

model = pickle.load(open("Model_GYM.pkl", "rb"))

In [12]:
print(model.predict([[40,5.6,70]]))

[1]

In [13]:
print(model.predict([[48,4.1,100]]))

[0]